CUSTOMER.sql
LINEITEM.sql
NATION.sql
ORDERS.sql
PART.sql
PARTSUPP.sql
REGION.sql
SUPPLIER.sql
dbgen/customer.tbl
dbgen/dbgen
dbgen/lineitem.tbl
dbgen/nation.tbl
dbgen/orders.tbl
dbgen/part.tbl
dbgen/partsupp.tbl
dbgen/qgen
dbgen/region.tbl
dbgen/supplier.tbl
nohup.out